#header a  {
    color: white;

}
#header {
    background: linear-gradient(90deg, #0e5675,#12506b 25%,#0c445c);
}
#header img {
    width: 150px;
}
#footer {
    background: linear-gradient(90deg, #0e5675,#12506b 25%,#0c445c);
}
#footer a {
    color: white;
}
#introduccion img {
    width: 70%;
}
#final #card-img img {
    height: 50%;
}