#header {
    background: linear-gradient(90deg, #0e5675,#12506b 25%,#0c445c);
}
#header a, h1  {
    color: white;
    font-family: fantasy;
}
#header img {
    width: 150px;
}

#home .card {
    position: relative;
}

#footer {
    background: linear-gradient(90deg, #0e5675,#12506b 25%,#0c445c);
}
#footer a {
    color: white;
    font-family: fantasy;
}